<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"     
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">  
    
    <bean id="userDao" class="com.bytebeats.jupiter.demo.dao.UserDaoImpl" scope="singleton" init-method="init" ></bean>
    
    <bean id="userService" class="com.bytebeats.jupiter.demo.service.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>  
    </bean>
    
    <bean id="userController" class="com.bytebeats.jupiter.demo.controller.UserController">
        <property name="userService" ref="userService"></property>  
    </bean>
</beans>  